body {
  overflow: hidden;
  height: 100%;
}

#mapid { 
  height: 275px;
}

#reports {
  margin: 0px;
  overflow: auto;
  height: 150px;
}

#reportPurple {
  margin: 10px;
  padding: 5px;
  box-shadow: -5px 0px 0px 0px purple;
}

#reportBlue {
  margin: 10px;
  padding: 5px;
  box-shadow: -5px 0px 0px 0px blue;
}

#reportGreen {
  margin: 10px;
  padding: 5px;
  box-shadow: -5px 0px 0px 0px green;
}

#reportViolet {
  margin: 10px;
  padding: 5px;
  box-shadow: -5px 0px 0px 0px violet;
}